<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Chinnu Orphan School</title>
  <style media="screen">
    .alert {
      margin: 0px;
    }
  </style>
</head>
<body>
  {% include "school/navbar.html" %}

<br><br>
  <center>
    <h1>About Us !</h1>
  </center>
  <div>
    <h2 align="center">Chinnu Orphan Care</h2>
    <p>Welcome to Chinnu Orphan School, an online platform that provides education, support, and care for orphaned and vulnerable children. Our mission is to empower young individuals through education, so that they can break the cycle of poverty and build a brighter future for themselves and their communities.</p>
    <p><p>Chinnu Orphan School was founded in 2023 by Nikhil who wanted to make a difference in the lives of children who have been affected by poverty, disease, and conflict. Nikhil recognized the critical role that education plays in transforming the lives of these children, and they set out to create a school that would provide high-quality education and support to help these children reach their full potential.</p>

<p>Over the years, Chinnu Orphan School has grown into a community of dedicated professionals and volunteers who are committed to providing a safe and nurturing environment for our students. Our team includes experienced educators, social workers, counselors, and support staff who work tirelessly to ensure that our students receive the best education and care possible.</p>

<p>We believe that every child deserves access to quality education, regardless of their background or circumstances. At Chinnu Orphan School, we work with children who have experienced trauma, neglect, or other challenges that have impacted their lives. We understand that these children need more than just academic support; they need a holistic approach that addresses their emotional, social, and physical needs.</p>

<p>We understand that education is just one aspect of a child's life, and we work hard to ensure that our students receive the care and support they need to thrive. Our social workers and counselors provide individual and group counseling services to address emotional and behavioral issues, and we offer mentorship programs, life skills training, and career guidance to help our students succeed beyond the classroom.</p>

<p>At Chinnu Orphan School, we are committed to creating a safe and nurturing environment for our students. We understand that many of our students have experienced loss and trauma, and we work hard to ensure that they feel supported and cared for at all times. We provide nutritious meals, clean and safe living conditions, and access to medical care to ensure that our students' basic needs are met.</p>

<p>We are proud of our students' achievements and their resilience in the face of adversity. Our alumni have gone on to become doctors, engineers, teachers, and community leaders, and they continue to inspire us with their dedication and commitment to making a positive impact in their communities.</p>

<p>
Thank you for visiting Chinnu Orphan School. We invite you to learn more about our programs and join us in our mission to empower young individuals through education.
</p>
  </div>
  <img src="/static/images/chinnu.png" width="1600" height="180">
  {% include "school/footer.html" %}
</body>

</html>
