{% extends 'school/homebase.html' %}


{% block content %}

<br>
<br>

<div  style="margin-bottom:0px;">
  <br>
  
  <h1 align="center">Chinnu Orphan School Admin Login</h1>
    <p class="lead">Welcome to Chinnu Orphan School.</p>

    <hr class="my-4">
  
  <p class="lead">
  Please Click on Login Button To Login
  <a class="btn btn-success btn-lg" href="adminlogin" role="button" style="display: inline-block;">Login</a>
</p>

  
  <img src="/static/images/chinnu.png" width="1600" height="550">
  
</div>

{% endblock content %}
