<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <title>Chinnu Orphan School</title>
  <style media="screen">
   
  </style>

</head>

<body>

  {% include "school/navbar.html" %}
  <br><br>
  <br>
  <div>
    <h1 align="center">Your message sent successfully !</h1>
    <p class="lead">We will respond to your feedback soon</p>
    <img src="/static/images/index.png" alt="Orphan School Image 1" width="1600" height="600">
     <img src="/static/images/chinnu.png" width="1600" height="400">
			
			
    
  </div>

  {% include "school/footer.html" %}
</body>

</html>
