<!DOCTYPE html>
<html>

<head>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <style>
  footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; 
  margin: 0 auto; 
  padding: 1px 0;
  background-color: #808080;
  color: white;
  text-align: center;
}
    p {
      text-align: center;

    }
  </style>
</head>

<footer>

  <br>
  
          <p>
             &copy; 2023 - x22156411@student.ncirl.ie </p>
        
</footer>

</html>
