<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Chinnu Orphan School</title>

  <style media="screen">
   
    .hero-image img {
        display: inline-block;
        margin-right: 10px; 
        max-width: 100%; 
    }
    
  </style>

</head>

<body>
  {% include "school/navbar.html" %}
  <br>
  <br>
  <br>
<main>
  <div class="content">
			<h1 align="center">Welcome to Chinnu Orphan School</h1>
			<p>Our mission is to provide education to orphan students around the world, helping them build a better future.</p>
			<p>Through our website, students can access online courses, interact with teachers and peers, and gain the knowledge and skills they need to succeed.</p>
		</div>
		<div class="hero-image">
		  <img src="/static/images/orphan.webp" alt="Orphan School Image 3" width="1100" height="600">
			<img src="/static/images/index.png" alt="Orphan School Image 1" width="1600" height="600">
			
			
			<img src="/static/images/chinnu.png" width="1600" height="400">
				</div>

		
	</main>
  

  <br><br>
  <br>
  <br>
  <br>
  <br>
  {% include "school/footer.html" %}
</body>

</html>
