
<head>
  
  <title>Chinnu Orphan School</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 
 <style media="screen">
  a:link {
    text-decoration: none;
  }

  a:link {
    text-decoration: none;
  }

  h6 {
    text-align: center;
  }

  .bs-example {
    margin: 0px;
  }

  .navbar-brand {
    font-size: 20px;
    font-family: sans-serif;
  }

  .container {
    max-width: 2500px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  table {
    max-width: 900px;
    width: 100%;
    margin: auto;
    background-color: #f9f9f9;
    border-collapse: collapse;
    font-size: 14px;
  }

  th {
    background-color: #4CAF50;
    color: white;
    text-align: left;
  }

  td, th {
    border: 1px solid #ddd;
    padding: 18px;
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
 
</style>

</style>
    
  </style>

</head>

 <div class="bs-example">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
      <a href="#" class="navbar-brand">Chinnu Orphan School</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav">
          


        </div>

        <div class="navbar-nav">
          <a href="/teacher-dashboard" class="nav-item nav-link">Home</a>
          <a href="/teacher-dashboard" class="nav-item nav-link">Dashboard</a>
          <!--<a herf="/teacher-online" class="nav-item nav-link">Upcomig features</a> -->
          <a href="/teacher-attendance" class="nav-item nav-link">Attendance</a>
          <a href="/teacher-notice" class="nav-item nav-link">Announcement to Notice Board</a>
          <a href="/logout" class="nav-item nav-link">Logout</a>
        </div>
        
        
      </div>
    </nav>
  </div>


<div class="container">

  <div class="row">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h6 class="panel-title">Attendance</h6>

      </div>

      <table class="table table-hover table-striped table-bordered" id="dev-table">
        <thead>

          <tr>
            <th>Class Name  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</th>
            <th>Take Attendance  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</th>
            <th>View Attendance  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</th>
          </tr>
        </thead>

        <tr>
          <td> One</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'teacher-take-attendance' 'one'  %}"><span class="glyphicon glyphicon-plus"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'teacher-view-attendance' 'one'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

        <tr>
          <td> Two</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'teacher-take-attendance' 'two'  %}"><span class="glyphicon glyphicon-plus"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'teacher-view-attendance' 'two'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

        <tr>
          <td> Three</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'teacher-take-attendance' 'three'  %}"><span class="glyphicon glyphicon-plus"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'teacher-view-attendance' 'three'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

        <tr>
          <td> Four</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'teacher-take-attendance' 'four'  %}"><span class="glyphicon glyphicon-plus"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'teacher-view-attendance' 'four'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

        <tr>
          <td> Five</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'teacher-take-attendance' 'five'  %}"><span class="glyphicon glyphicon-plus"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'teacher-view-attendance' 'five'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

        <tr>
          <td> Six</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'teacher-take-attendance' 'six'  %}"><span class="glyphicon glyphicon-plus"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'teacher-view-attendance' 'six'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

        <tr>
          <td> Seven</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'teacher-take-attendance' 'seven'  %}"><span class="glyphicon glyphicon-plus"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'teacher-view-attendance' 'seven'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

        <tr>
          <td> Eight</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'teacher-take-attendance' 'eight'  %}"><span class="glyphicon glyphicon-plus"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'teacher-view-attendance' 'eight'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

        <tr>
          <td> Nine</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'teacher-take-attendance' 'nine'  %}"><span class="glyphicon glyphicon-plus"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'teacher-view-attendance' 'nine'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

        <tr>
          <td> Ten</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'teacher-take-attendance' 'ten'  %}"><span class="glyphicon glyphicon-plus"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'teacher-view-attendance' 'ten'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

      </table>
    </div>
  </div>
</div>
			<img src="/static/images/index.png" width="1600" height="300">

 {% include "school/footer.html" %}


